:root {
  --color-blue-mid: #5b7ad7;
  --color-blue-light: #7f91c7;
  --color-green-light: #9cd6b3;
  --color-red-light: #f9a3a4;
  --color-yellow: #efd358;
  --color-yellow-light: #f9f3d8;
  --color-white: #ffffff;

  --extra-small: 0.25rem;
  --small: 0.5rem;
  --medium-small: 0.75rem;
  --medium: 1rem;
  --medium-large: 2rem;
  --large: 3rem;
  --extra-large: 3.5rem;
}
